/* body {
  display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        height: 100vh;
} */

/* body::after {
  background: url('escape_bg_1.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.3;
} */

*, *:before, *:after {
  box-sizing: border-box;
}

/* top-head {
  text-align: left;
  color: white;
  font-size: 2rem;
} */
body {
  /* background: linear-gradient(220deg, rgba(189,0,255,1) 0%, rgba(0,163,255,1) 100%); */
background: black;
  height: 100vh;
  background-attachment: fixed;
  font-size:
  /* font-family */
}

.content {
  background: #221F26 url('./sources/background.jpeg');
    background-size: cover;
    background-blend-mode: screen;
    background-position: center;
    height: 100%;
    /* opacity: 0.5; */
  }
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
}
.section-1{
  display: flex;
 flex-direction: row-reverse;
}

.section-2 {
  background: white;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  color: black;
  place-items: center;
  height: 80%
  align-content: space-between;
  margin: 20px;
  padding: 20px;

}

form {
  display: flex;
  flex-direction: column;
  width: 200px;
  align-content: space-between;
}

.btn {
  padding: 10px;
  margin: 10px;
}

.arrow-page {
  text-align:center;
}

#shark {
  width: 30%

}
